<div class="staty" >
  <div class="container" >
    <div class="row justify-content-center  " >
      <div class="col-md-9 col-12   " >
        <span class="Humanize" >1.Humanize your by showing causes you suppurt </span>
        <div class="ipsumcenter2 mt-4 " >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit, similique ratione!
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore, rem iste iusto amet et non perferendis quaerat impedit,
          similique ratione!rem iste iusto amet et non perfe imilique ratione!quaerat impedit,ratione
        </div><br>
        <div class="ipsumcenter2 mt-4 " >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore, rem iste iusto amet et non perferendis quaerat impedit,
          similique ratione!rem iste iusto amet et non perferendis quaerat impedit, similique ratione!rem iste iusto amet et non perferendis quaerat impedit, similique ratione!quaerat impedit,ratione perferendis quaerat impedit, similique ratione!quaerat impedit,ratione
        </div><br>
      </div>
      <div  class="col-md-9 col-12 mt-5 ">
        <img src="https://via.placeholder.com/820x500?text=Text" class="bigFoto" >
      </div>
      <div class="col-md-9 col-12 mt-5 " >
        <div class="ipsumcenter2  mt-4" >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit, similique ratione!
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore, rem iste iusto amet et non perferendis quaerat impedit,
          similique ratione!rem iste iusto amet et non perfe imilique ratione!quaerat impedit,ratione
        </div><br>
      </div>
      <div  class="col-md-9 col-12 mt-5 ">
        <img src="https://via.placeholder.com/820x500?text=Text" class="bigFoto" >
      </div>
      <div class="col-md-9 col-12 mt-5 " >
        <div class="Humanize mt-5 " >2.Recruit new talent to your team </div>
        <div class="ipsumcenter2 mt-4 " >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit, similique ratione!
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore, rem iste iusto amet et non perferendis quaerat impedit,
          similique ratione!rem iste iusto amet et non perfe imilique ratione!quaerat impedit,ratione
        </div><br>
        <div class="border2 " >
          <div class="borderText" > ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
            rem iste iusto amet et non perferendis quaerat impedit, similique ratione!
            Provident, similique ratione! Doloremque odio voluptatum tempora aut labore, rem iste iusto amet et non perferendis quaerat impedit,
            similique ratione!rem iste iusto amet et non perfe imilique ratione!quaerat impedit,ratione
          </div>
        </div>
      </div>
      <div class="col-md-9 col-12 mt-5 " >
        <img src="https://via.placeholder.com/820x500?text=Text" class="bigFoto" >
        <div class="ipsumcenter2 mt-4 " >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit, similique ratione!
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore, rem iste iusto amet et non perferendis quaerat impedit,
          similique ratione!rem iste iusto amet et non perfe imilique ratione!quaerat impedit,ratione
        </div><br>
        <div class="Humanize mt-5 " >3.Provide valuable information to earn viewers' trust
        </div>
        <div class="ipsumcenter2 mt-4 " >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit, similique ratione!
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore, rem iste iusto amet et non perferendis quaerat impedit,
          similique ratione!rem iste iusto amet et non perfe imilique ratione!quaerat impedit,ratione
        </div><br>
        <div class="ipsumcenter2 mt-4 " >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore, rem iste iusto amet et non perferendis quaerat impedit,
        </div><br>
      </div>
      <div class="col-md-9 col-12 mt-5 " >
        <img src="https://via.placeholder.com/820x500?text=Text" class="bigFoto" >
        <div class="Humanize mt-5 " >4.Provide valuable information to earn viewers' trust</div>
        <div class="ipsumcenter2 mt-4 " >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit, similique ratione!
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore, rem iste iusto amet et non perferendis quaerat impedit,
          similique ratione!rem iste iusto amet et non perfe imilique ratione!quaerat impedit,ratione
        </div><br>
      </div>
      <div class="col-md-9 col-12 mt-5 " >
        <img src="https://via.placeholder.com/820x500?text=Text" class="bigFoto" >
        <div class="Humanize mt-5 " >5.Provide valuable information to earn viewers' trust</div>
        <div class="ipsumcenter2 mt-4 " >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit, similique ratione!
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore, rem iste iusto amet et non perferendis quaerat impedit,
          similique ratione!rem iste iusto amet et non perfe imilique ratione!quaerat impedit,ratione<br><br>
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit, similique ratione!<br><br>
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit
        </div><br>
      </div>
      <div class="col-md-9 col-12 mt-5 " >
        <img src="https://via.placeholder.com/820x500?text=Text" class="bigFoto" >
        <div class="Humanize mt-5 " >6.Highliht your firm's accolades and stats </div>
        <div class="ipsumcenter2 mt-4 " >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit, similique ratione!
          n perfe imilique ratione!quaerat impedit,ratione
          rem iste iusto amet et non perferendis quaerat impedit, similique ratione!<br><br>
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit
        </div><br>
        <img src="https://via.placeholder.com/820x500?text=Text" class="bigFoto" ><br><br>
        <div class="ipsumcenter2 mt-4 " >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit, similique ratione!
          n perfe imilique ratione!quaerat impedit,ratione </div>
      </div>
    </div>

  </div>
</div>






