<div class="blackblok">
  <div class="container">
    <div class="ready">
      <div class="row">
        <div class="col-md-6 col-12 ">
          <div class="blackBlokText">Ready to take a test drive?</div>
          <div class="blacktext muted">
            We'll help elevate your video content stranegy.<br />Prices starting
            from $ a month.<a href="#" class="pricing">See pricing</a>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="poiskinput">
            <div class="inputknopka d-flex">
              <input
                type="text"
                placeholder=" @ enter work email..."
                class="blokinput text-left"
              />
              <div class="knopka">
                <div class="button">
                  Subscribe
                </div>
              </div>
            </div>
            <div class="ikonki d-flex "  >
              <span class="ikona" *ngFor="let item of getItems()" ><i class="{{item}}"></i
              ></span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
