
<div class="blackblok" >
  <div class="blackblok2" >
    <div class="row justify-content-end " >
      <div class="col-md-6 col-12 " >
        <div class="blacktext" >
          <div> Ready to contiue your video </div>

          <span>marketing journey? </span><br><br>
          <div class="textblack ml-4 " >
            ipsum dolor sit amet consectetur adipisicing elit. , similique ratione!
            <br> Dolorem Provident, similique ratione! Dolorem Provident,
            <br>similique ratione! Dolorem Provident, similique ratione! Dolorem
          </div>
          <div class="button" >Explore Report</div>
        </div>
      </div>
      <div class="col-3" >
        <img src="https://via.placeholder.com/400x500?text=Text" class="fotoimg"  >
      </div>
    </div>
  </div>
</div>
