
<div class="blackblok" >
  <div class="container" >
    <div class="ready" >
      <div class="row" >
        <div class="col-md-6 col-12" >
          <div class="blackBlokText" >Recieve articles like this in your mailbox</div><br>
          <div class="textmuted" >Sign up to get weekly insights & inspiration in your inbox </div>
        </div>
        <div class="col-6 " >
          <div class="poiskinput" >
            <div class="inputknopka d-flex  " >
              <input type="text" placeholder=" @ enter work email..." class="blokinput2 text-left " >
              <div class="knopka" >
                <div class="button">
                  Subscribe
                </div>
              </div>

            </div>
            <div class="work" >
              <div class="molni" > <i class="fa fa-bolt" aria-hidden="true"></i>
                <span class="cifra">6145</span>
                <span class="reading"   >are reading this newsletter every week </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

