<div class="erik" >
  <div class="container" >
    <div class="row justify-content-center ml-3 " >
      <div class="col-md-6 col-6 mt-5 d-flex align-items-center " >

        <img src="https://via.placeholder.com/100x100?text=Text" class="erikfoto" >
        <div class=" marketing" >
          <div class="erik2">  Erik Mathes </div>
          <div class="Strategist" > Content Marketing Strategist  </div>
        </div>
      </div>
      <div class="col-md-4 col-4 mt-5 d-flex align-items-center " >
        <div class="follow mt-3" >Follow me on</div>
        <div class="ikonki ml-4 "  > <i class="fa fa-twitter-square" aria-hidden="true"></i></div>
        <div class="ikonki"  ><i class="fa fa-linkedin-square" aria-hidden="true"></i> </div>

      </div>
    </div>
  </div>
</div>
