<div class="content">

  <div class="container" >
    <li class="silka" ><a routerLink="/" routerLinkActive="active"   >Первая страница</a></li>
    <div class="trends" >
      <div class="insights" > Trends & Insights </div>
      <div class="financial" >
        6 ways for financial & legal<br>
        marketers to differentiate their<br>
        firm through video
      </div>
      <div class="erik" > Erik Mathes  </div>
      <div class="oct" >Oct 15,2019</div>
    </div>
  </div>
</div>
<div class="center" >

  <div class="container" >
    <div class="row mt-5 " >
      <div class="col-md-12 col-12  " >
        <img src="https://via.placeholder.com/1024x600?text=Text" class="bigFoto" >
      </div>
    </div>

    <div class="row justify-content-center mt-5 " >
      <div class="col-md-9  mt-5 col-12 " >
        <div class="centerText d-flex " >
          <span class="L" > Y</span>
          <span class="ipsumcenter" >
                            Loram ipsum dolor sit amet consectetur adipisicing elit. Provident,
                             similique ratione! Doloremque odio   aut labore, rem iste iusto amet et non perferendis quaerat impedit,
                              similique ratione! Doloremque odio voluptatum tempora aut labore, rem iste iusto amet et non perferendis quaerat  </span>
        </div>
        <div class="ipsumcenter2" >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit, similique ratione!
        </div><br>
        <div class="ipsumcenter2" >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore,
          rem iste iusto amet et non perferendis quaerat impedit,
          similique ratione!rem iste iusto amet et non perferendis quaerat impedit, similique ratione!rem iste iusto amet et non perferendis quaerat impedit,
          similique ratione!quaerat impedit,ratione
        </div><br>
        <div class="ipsumcenter2" >
          ipsum dolor sit amet consectetur adipisicing elit. Provident, similique ratione! Doloremque odio voluptatum tempora aut labore, rem iste iusto amet et
          non perferendis quaerat impedit,
          similique ratione!rem iste iusto amet et non perferendis quaerat impedit, similique ratione!rem iste iusto amet et non perferendis quaerat impedit,
          similique ratione!quaerat impedit,ratione
        </div>
      </div>
      <div class="sidebarikonki" >
        <div class="ikonki" > <i class="fa fa-facebook-official" aria-hidden="true"></i> </div>
        <div class="ikonki" > <i class="fa fa-twitter-square" aria-hidden="true"></i></div>
        <div class="ikonki" ><i class="fa fa-linkedin-square" aria-hidden="true"></i> </div>
        <div class="ikonki" > <i class="fa fa-youtube-play" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>
</div>

